/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/vendor
/.serverless
.env
.env.backup
.env.local
.env.production
.env.staging
.env.testing
.phpunit.result.cache
npm-debug.log
yarn-error.log
.idea
/storage/*.key
/storage/oauth-*.key
/storage/oauth-*.pem
*.log
*.cache
